section {
    padding: 2%;
}

form {
    width: 50%;
    margin:0px auto;
}

input {
    margin-bottom: 1%!important;
}

.logo {
    width: 10%;
}

section {
    text-align: center;
}

.sub-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: 0 auto;
    grid-column-gap: 1em;
}

.add-btn {
    margin-top: 1%;
}

.soda-link {
    color: black;
}

.name-container {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    padding: 1%;
    background-color: #80808040;
    border-radius: 4px;
}

#brand {
    color:#808080e3;
}

.deleteBtn {
    width: 25%;
    margin-left: 74%;
}

.commentForm {
    width: 50%!important;
}

.comments {
    background-color:#dfdfdf;
    border-radius: 4px;
    padding: 1%;
}

.info > p{
    text-align: left;
}